<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false">

    <property name="log.base" value="/home/GR/Logs"/>
    <property name="log.error" value="error"/>
    <property name="app.name" value="gr-unicorn-metrics"/>

    <property name="pattern"
              value="%date{'yyyy-MM-dd HH:mm:ss,SSS'} %-5level [%thread] %C.java:\\(%L\\) [%X{gid}] | %msg%n"/>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="utf-8">
            <pattern>${pattern}</pattern>
            <outputPatternAsHeader>false</outputPatternAsHeader>
        </encoder>
    </appender>

<!--    <appender name="daily_task" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>${log.base}/gr_app/m_daily_file_sync.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${log.base}/gr_app/m_daily_file_sync.log.%d{yyyyMMdd}</fileNamePattern>-->
<!--        </rollingPolicy>-->
<!--        <encoder charset="UTF-8">-->
<!--            <pattern>%msg%n</pattern>-->
<!--            <outputPatternAsHeader>false</outputPatternAsHeader>-->
<!--        </encoder>-->
<!--    </appender>-->

    <appender name="daily_task" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/gr_app/m_daily_file_sync.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>m_daily_file_sync.log.%i</fileNamePattern>
            <!-- each file should be at most 1MB, keep 20 days worth of history, but at most 20GB -->
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>20</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/${app.name}/${app.name}.run.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/${app.name}/${app.name}.log.%d{yyyyMMdd}</fileNamePattern>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>${pattern}</pattern>
            <outputPatternAsHeader>false</outputPatternAsHeader>
        </encoder>
    </appender>

    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/${app.name}/${log.error}/${app.name}.error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/${app.name}/${log.error}/${app.name}.error.log.%d{yyyyMMdd}</fileNamePattern>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        <encoder charset="UTF-8">
            <pattern>${pattern}</pattern>
            <outputPatternAsHeader>false</outputPatternAsHeader>
        </encoder>
    </appender>


    <logger name="com.gr" level="info" additivity="false">
        <appender-ref ref="log"/>
        <appender-ref ref="error"/>
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="daily_task" level="info" additivity="false">
        <appender-ref ref="daily_task"/>
    </logger>


    <root level="info">
        <appender-ref ref="error"/>
        <appender-ref ref="log"/>
        <appender-ref ref="stdout"/>
    </root>
</configuration>